@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1600px;
    margin: 0 auto;
}

/*shared style*/
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.text-white{
    color: #FFFFFF;
}
.btn{
    background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    border-radius: 10000px;
}


/*main styels*/

/*header_part starts*/
nav{
    grid-template-columns: repeat(2, 1fr) 135px;
    align-items: center;
    background-color: #1A0B2E;
    border: 1px solid #412567;
    padding: 30px 200px;
}
.nav-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.wave{
    background: linear-gradient(#9100F8, #FB09B4, #F7E93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav ul li{
    list-style-type: none;
}
.menu{
    gap: 32px;
}
.menu .menu-item{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}
.nav-btn{
    padding: 12.5px 16px;
}

/*hero section*/

#img-hero-circle{
    margin-top: -650px;
    margin-left: 625px;
    position: relative;
}
#img-hero-microphone{
    position: absolute;
    top: 325px;
    left: 785px;
}
#new-badge{
    position: relative;
    top: -315px;
    left: 900px;
}
#new-btn{
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1000px;
}



/*header_part ends*/